@tailwind base;
@tailwind components;
@tailwind utilities;


.loader {
  width: 100px;
  height: 100px;
  display: block;
  margin: auto;
  position: relative;
  background: #222;
  border-radius: 50%;
  box-sizing: border-box;
  transform-origin: 170px 50px;
  border: 4px solid #333;
  box-shadow: 3px 4px #0003 inset, 0 0 6px #0002 inset;
  animation: panmov 0.4s ease-in-out infinite alternate;
}

.loader::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) skew(-15deg, 15deg) rotate(-15deg);
  width: 55px;
  height: 53px;
  background: #fff;
  background-image:
    radial-gradient(circle 3px, #fff6 90%, transparent 10%),
    radial-gradient(circle 12px, #ffc400 90%, transparent 10%),
    radial-gradient(circle 12px, #ffae00 100%, transparent 0);
  background-repeat: no-repeat;
  background-position: -4px -6px, -2px -2px, -1px -1px;
  box-shadow: -2px -3px #0002 inset, 0 0 4px #0003 inset;
  border-radius: 47% 36% 50% 50% / 49% 45% 42% 44%;
  animation: ylmov 0.6s ease-in-out infinite alternate;
}

.loader::after {
  content: '';
  position: absolute;
  left: 100%;
  top: 48px;
  height: 15px;
  width: 70px;
  background: #222222;
  border-radius: 0 8px 8px 0;
  box-shadow: 3px 0 3px #eee2 inset;
  transform: rotate(5deg) translateX(3px);
}

@keyframes panmov {

  0%,
  10% {
    transform: rotate(5deg)
  }

  90%,
  100% {
    transform: rotate(-5deg)
  }
}

@keyframes ylmov {
  to {
    border-radius: 50% 36% 50% 50% / 49% 50% 45% 45%;
    background-position: -2px -4px, 2px 2px, 1px 1px;
  }
}


.full-screen-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(3px);
}

.loader-content {
  padding: 20px;
  border-radius: 5px;
}


.responseContainer {
  width: 100%;

  @media (min-width: 640px) {
    width: 600px;
  }

  max-width: 90vw;
  display: flex;
  border-radius: 2px 25px 25px 2px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0px !important;
  padding: 0px !important;
  padding: 20px;
  background-color: #f0f0f0;
}


.PeopleListParent {
  width: 100%;
}

.humanAnswer {
  width: 100%;

  @media (min-width: 640px) {
    width: 600px;
  }

  height: auto;
  padding: 10px 20px;
  border-radius: 25px 2px 2px 25px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 40px 0px;
  background-color: #FFF7C3;
}

@media (max-width: 1080px) {
  .textInput {
    font-size: 0.8rem;
  }
}


.login-with-google-btn {
  border: 1px solid #6d758d;
  height: 42px;
  padding: 0px 0px;
  width: 100%;
  border-radius: 21px;
  font-size: 16px;
  font-weight: 300;
  text-align: left;
  color: #6d758d;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 18px 12px;
  text-align: center;
  font-weight: 400;
  transition: 0.25s;
}

@media screen and (max-width: 1000px) {
  .login-with-google-btn {
      font-size: 12px;
  }
}

.login-with-google-btn:hover {
  background-color:#e0e1f7;
  cursor: pointer;
}